/build-clang/
/build-*/
/cmake-build-*/

/build/
/out/

/CMakeFiles/
/CMakeCache.txt
/*.cmake
Makefile
cmake_install.cmake
install_manifest.txt

*.vtk
*.log
*.err
*.out
*~
*.swp
*.tmp
.DS_Store
*.vtk

/bin/
/lib/
/*.a
/*.so
/*.so.*
/*.dll
/*.exe

.vscode/
/.history/
/*.code-workspace

*.sw?
*.swo

.idea
/config.h
/*.pc